/* Main */
.ListItem {
  color: white;
}

.home-container {
  height: 100%;
  background-color: #F6F8FF;
}

.side-menu {
  background-color: #2C363F;
  width: 250px;
  height: 100vh;
  display: inline-table;
}

.header-toolbar {
  position: absolute;
  top: 0px;
  left: 250px;
  right: 0px;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #F6F8FF;
}

.home-table {
  position: absolute;
  top: 20px;
  left: 250px;
  right: 0px;
  padding: 30px;
}

/* Landing Page */
.welcome-nav {
  padding: 20px;
  float: right;
  text-transform: uppercase;
}

.welcome {
  padding-top: 130px;
  text-align: center;
}

.welcome h1 {
  color: #2C363F;
  letter-spacing: 3px;
  font-size: 100px;
  font-weight: bolder;
}

.welcome h3 {
  padding: 10px;
  color: #6E7E85;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: bold;
}

.alpha, .welcome-nav button {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
}

.welcome-nav button {
  color: #2C363F;
  background-color: transparent;
}

.alpha {
  padding: 0px 50px;
  margin-top: 50px;
  color: white;
  background-color: #FC575E;
  font-weight: medium;
  height: 60px;
}

/* Navigation Bar */
.navbar-default {
  padding: 10px 0px;
  color: blue;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.navbar-default .navbar-brand {
  color: black;
  font-size: 44px;
}

.navbar-default .navbar-nav li a {
  color: black;
  font-size: 18px;
}

.navbar-default .navbar-nav li a:hover {
  color: #2575fc;
  font-size: 18px;
}

.network-label {
  float: none;
}

/* Footer */
.network-footer {
  margin: 50px;
  height: 50px;
  background-color: #05868a;
}

a {
  color: #2575fc;
}

button,
.buy-now,
.not-available {
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

button,
.buy-now {
  background-color: #2575fc;
}

.not-available {
  background-color: gray;
}

.table-row-button-true {
  background-color: #5cb85c;
  padding: 10px 0px;
  width: 150px;
}

.table-row-button-false {
  background-color: gray;
  padding: 10px 0px;
  width: 150px;
}

td {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Product View */
.container-product {
  padding: 20px;
}

.column-product-image {
  padding: 20px;
}

.column-product-image img {
  width: 100%;
}

.column-product-info {
  padding: 0px 20px;
}

/* New Product */
.new-product-form {
  margin: auto;
  max-width: 500px;
}

.new-product-form form {
  padding-top: 20px;
}

.btn-submit-register {
  width: 100%;
}

/* Product Table */
.product-table-container {
  padding: 20px 50px 20px 50px;
}

.product-table-header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3d3d3;
}

.product-table-header-title {
  padding-bottom: 20px;
  display: inline;
}

.product-table-header-button {
  float: right;
}

.product-table {
  padding-top: 20px;
}

.pagination {
  float: right;
}

.pagination li.active a,
.pagination li.active a:hover,
.pagination li.active a:active,
.pagination li.active a:link,
.pagination li.active a:visited {
  background-color: #2575fc;
  border-color: #2575fc;
  color: white;
}

.pagination li a {
  color: gray;
}

/* Buy Modal */
.buy-modal .buy-now,
.not-available {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 50px;
}

.modal-dialog {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.buy-modal-name,
.buy-modal-din {
  text-align: center;
}

.buy-modal-quantity,
.buy-modal-price-label {
  display: inline-block;
}

.buy-modal-price-value {
  font-weight: 700;
}

.buy-modal-quantity-picker,
.buy-modal-price-value {
  display: inline-block;
  float: right;
}

.buy-modal-subtitle-container {
  padding: 10px;
}

/* Orders */
.order-toggle {
  float: right;
}

.Link {
  color: "#32C1FF";
}