body {
  font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
.navbar-default {
  padding: 10px 0px;
  color: blue;
  background-color: white;
  font-weight: bolder;
}

.navbar-default .navbar-brand {
  color: black;
  font-size: 44px;
}

.navbar-default .navbar-nav li a {
  color: black;
  font-size: 18px;
}

a {
  color: #00B0FF;
}

button, .buy-now {
  background-color: #00B0FF;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

.table-row-button-true {
  background-color: #5cb85c;
  padding: 10px 0px;
  width: 150px;
}

.table-row-button-false {
  background-color: gray;
  padding: 10px 0px;
  width: 150px;
}

td {
  max-width: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar {
  width: 80%;
  margin: auto;
  max-width: 600px;
}

.search-bar input {
  padding: 20px 10px;
  font-size: 16px;
}

.search-bar button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Home */
.welcome-header {
  text-align: center;
}

.welcome-header h1 { 
  margin: 100px 0px 50px 0px;
}

/* Product View */
.container-product {
  padding: 20px;
}

.column-product-image {
  padding: 20px;
}

.column-product-image img {
  width: 100%;
}

.column-product-info {
  padding: 0px 20px;
}

/* New Product */
.new-product-form {
  margin: auto;
  max-width: 500px;
}

.new-product-form form {
  padding-top: 20px;
}

.btn-submit-register {
  width: 100%;
}

/* Product Table */ 
.product-table-container, .home-table {
  padding: 20px 50px 20px 50px;
}

.product-table-header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D3D3D3;
}

.product-table-header-title {
  padding-bottom: 20px;
  display: inline;
}

.product-table-header-button {
  float: right;
}

.product-table {
  padding-top: 20px;
}

/* Buy Modal */
.buy-modal .buy-now {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 50px;
}